@model string



<div class="card card-body my-4 text-center">
    <h1 class="h3"> Teşekkür Ederiz</h1>
    <p>
        #@Model numaralı Siparişiniz Kayıt edildi
    </p>
    <p>
        <a href="~/Order/OrderList" class="btn btn-primary"> Siparişi Görüntüle</a>
    </p>
</div>