@model ShippingEditStatus

@{
    ViewData["Title"] = "Add Category";
    Layout = "_AdminLayout";
}

<div class=" shadow-sm border-0">

    <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Add New Category</h5>
    </div>

    <div class="card-body container">

        <form asp-action="Edit" method="post">
            <input type="hidden" name="Id" value="@Model.Id">

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Status Adı" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Status" class="form-label"></label>
                <input asp-for="Status" class="form-control" placeholder="Status " />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>



            <div class="d-flex justify-content-end">
                <a asp-action="Index" class="btn btn-secondary me-2">
                    Iptal
                </a>
                <button type="submit" class="btn btn-success">
                    Kaydet
                </button>
            </div>

        </form>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
